<div id="login">
    <header>
        <img src="../images/1_03.jpg" alt="" ng-click="homepage()"/>
        <img src="../images/1_05.jpg" alt=""/>
        <p>登录</p>
    </header>
    <div>
        <ul>
            <li>普通登录</li>
            <li>快速登录</li>
        </ul>
        <input type="text" placeholder="点击输入手机号/Email" ng-model="user.username"/>
        <input type="text" placeholder="请输入密码" ng-model="user.password" />
        <button ng-click="login()">登 &nbsp;录</button>
        <a ng-click="reg()">免费注册 > </a>
        <a href="">手机账号注册取回密码 > </a>
        <p>使用其他账号登录</p>
        <img src="../images/8.png" alt=""/>
    </div>
</div>